$land: #78b3a0;
$water: #2d7f82;
$red: #f02139;
$grey: #282828;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Averia Sans Libre', cursive;
}

.hidden{
  display: none;
}

//COVER

#cover-page {
  background-image: url(imgs/maps_cover_sm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: fixed;
  z-index: 4;
  height: 100vh;
  width: 100vw;

  @media(min-width: 680px){
    background-image: url(imgs/maps_cover.jpg);
  }

  #play-btn{
    width: 100%;
    transform: translateY(92vh);
    height: 8vh;
    border: none;
    outline: none;
    font-size: 24px;
    background-color: transparent;
  }

  #play-btn > a {
    color: white;
    text-decoration: none;
  }

  #play-btn > a:hover {
    text-decoration: none;
    opacity: 0;
    transition: 3s; 
  }
}

//GAME

#map {
  height: 100vh;
  z-index: 1;
  background-repeat: no-repeat;
}

#sidenav {
  height: 100%;
  z-index: 3;
  position: fixed;
  -webkit-transition: 0.5s;
  transition: 0.5s;

    #togglebtn {
    cursor: pointer;
    color: $red;
    font-size: 26px;
    padding: 0 10px;
    float: right;
  }
}

.sidenav-open {
  width: 200px;
  background-color: $grey;
  box-shadow: 0px 2px 8px $grey;
  opacity: 0.8;
  z-index: 3;

  .menu{
    text-align: center;
    padding-top: 18vh;
    color: $red;
  }

  ul{
    list-style-type: none;
    padding-left: 0;
  }

  li{
    padding-bottom: 20px;
  }

  a{
    text-decoration: none;
    outline: none;
    font-size: 20px;
    color: $red;
  }

  li > a:hover {
    opacity: 0;
    transition: 3s;
  }

  #donate-btn{
    text-align: center;
    background-color: $red;
    font-weight: bold;
    font-size: 22px;
    padding: 6vh;
    border: none;
    outline: none;
  }
  
  #donate-btn > a{
    color: white;
  }

  #donate-btn:hover {
    padding: 6.5vh;
    transition: ease-in-out 0.3s;
    opacity: 1;
  }
}

//Bootstrap modals

.modal-content{
  font-family: 'Montserrat', sans-serif;
  color: $grey; 
  padding: 10px;
  border-radius: 0;
  border: none;
}

//Google popup

#content{
  font-family: 'Montserrat', sans-serif;
  color: $grey;
  border-radius: 0;
}

#infoTitle{
  font-family: 'Averia Sans Libre', cursive;
  font-size: 20px;
  padding-top: 10px;
  font-weight: bold;
}

#animalInfo{
  font-size: 14px;
}

.thumbnail {
  width: 300px;
}